

/* Add a gray background color with some padding */
.main {
  min-height: 100vh;
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("background.jpg");
  background-size: fill;
}

.container1 {
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

.h1 {
  font-family: Courgette;
  font-size: 50px;
  text-align: center
}

.inputcontainer {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 350px;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: pink;
  color: white;
  min-width: 50px;
  text-align: center;
}

.inputfield {
  width: 100%;
  padding: 10px;
  outline: none;
}

.inputfield:focus {
  border: 2px solid pink;
}

/* Set a style for the submit button */
.btn {
  background-color: pink;
  color: black;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 350px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


.footer1 {
  padding: 5px;
  text-align: center;
  background: #494848;
  ;
}


.overimg1 {
  position: absolute;
  top: 50%;
  left: 38%;
}

.form {
  max-width: 500;
  margin: auto;
}